{extend name="common/layout" /}
	
	{block name="content"}
	{include file="Common:breadcrumb" /}
	<div class="operation-bar">
		<a class="info-msg" id="sub-form"><i class="fa fa-save"></i></a>
		<a href="{:url('admin/user/index')}" class="default-msg"><i class="fa fa-reply"></i></a>
	</div>
	<div style="clear:both;"></div>
	<div class="content-box">
		<div class="content-title"><i class="fa fa-list"></i>&nbsp;会员详情</div>
		<div class="content-body">
			<div class="content-search">
				<div class="form-group content-search-input">
					<label>注册时间</label>
					<input type="text" class="form-control" value="{$result['register_time']}" disabled="disabled">
				</div>
				<div class="form-group content-search-input">
					<label>最后登录</label>
					<input type="text" class="form-control" value="{$result['next_login_time']}" disabled="disabled">
				</div>
				<div class="form-group content-search-input">
					<label>编辑时间</label>
					<input type="text" class="form-control" value="{$result['edit_time']}" disabled="disabled">
				</div>
				<div style="clear:both;"></div>
			</div>
			<form class="form-detail" id="form-data">
				<div class="form-group">
					<label class="required">会员账号</label>
					<div class="form-detail-input">
						<input type="text" class="form-control" placeholder="会员账号" value="{$result['name']}" disabled="disabled">
					</div>
				</div>
				<div class="form-group">
					<label class="required">状态</label>
					<div class="form-detail-select">
						<select name="status" class="form-control">
							<option value="1" {$result['status'] == 1 ? 'selected' : ''}>启用</option>
							<option value="0" {$result['status'] == 0 ? 'selected' : ''}>禁用</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="required">注册方式</label>
					<div class="form-detail-input">
						<input type="text" class="form-control" placeholder="注册方式" value="{$result['register_type_name']}" disabled="disabled">
					</div>
				</div>
				<div class="form-group">
					<label class="required">注册地IP</label>
					<div class="form-detail-input">
						<input type="text" class="form-control" placeholder="注册地IP" value="{$result['register_ip']}" disabled="disabled">
					</div>
				</div>
				<div class="form-group">
					<label class="required">最后登录IP</label>
					<div class="form-detail-input">
						<input type="text" class="form-control" placeholder="最后登录IP" value="{$result['next_login_ip']}" disabled="disabled">
					</div>
				</div>
				<input type="hidden" value="{$result['id']}" name="id">
				<input type="hidden" value="{$Think.session.admin_token}" name="admin_token">
				<div style="clear:both;"></div>
			</form>
		</div>
	</div>
	{/block}

{block name="javascript"}
<script src="__STATIC__/common/javascript/jquery-3.3.1.min.js"></script>
<script src="__STATIC__/admin/javascript/common.js"></script>
<script>
$(function(){
	$("#sub-form").click(function(){
		var formData = new FormData(document.getElementById("form-data")),
			url = "{:url('admin/user/editAction')}",
			success_url = "{:url('admin/user/index')}";

		$.ajax({
			type : "POST",
			url : url,
			data : formData,
			dataType : "json",
			processData : false,
			contentType : false,
			beforeSend : function(){
				$(".loading-image").removeClass("fade");
			},
			success : function(data){
				$(".msg-popup-content").text(data.msg);
				$("#msg-popup").fadeIn(200);
				$(".msg-popup-button>a").click(function(){
					if(data.code == 1){
						window.location.href = success_url;
					}else{
						$("#msg-popup").fadeOut(200);
					}
				});
			},
			complete : function(){
				$(".loading-image").addClass("fade");
			}
		});
	});
})
</script>
{/block}